.founder-section{
    padding:50px 0;
    h1{
        font-size: 70px;
        font-weight:700;
    }
    .founderimg{
        width:100%;        
    }

    .founder-content-wrapper{
        display: flex;
        align-items: center;
        margin:10px 0;
        p{
            font-size: 20px
        }

        .d-flex{
            padding:15px 0;
            gap:15px;
        }
        .achievements{
            font-size: 15px;
            font-weight: 600;        
            .vl{
                width:2px;
                background-color: #ff4c00;
                height:100%;
                min-height:50px ;
            }
        }
        .end-note{
            h4{
                font-size: 35px;
                font-weight: 700;
            }
            p{
                font-size: 16px;
                font-weight: 600;
            }
        }
    }     
}


@media (max-width:1200px){
    .founder-section{
        padding:50px 0;
        h1{
            font-size: 60px;
            font-weight:700;
        }
        .founderimg{
            width:100%;        
        }
    
        .founder-content-wrapper{
            display: flex;
            align-items: center;
            margin:10px 0;
            p{
                font-size: 18px;
            }
    
            .d-flex{
                padding:10px 0;
                gap:15px;
            }
            .achievements{
                font-size: 13px;
                font-weight: 600;        
                .vl{
                    width:2px;
                    background-color: #ff4c00;
                    height:100%;
                    min-height:50px ;
                }
            }
            .end-note{
                
                h4{
                    font-size: 25px;
                    font-weight: 700;
                }
                p{
                    font-size: 13px;
                    font-weight: 600;
                }
            }
        }     
    }
}


@media (max-width:560px){
    .founder-section{
        padding: 40px 10px;
        
    }
}