.case-study-section{
    padding:50px 0;
    .container{
        background: #FF4C00;
        padding:30px 40px; 
        color:#fff;
        box-shadow:0 35px 60px -20px #FF4C00;
        border-radius: 30px;        
        .slider-philosophy{
            margin-top:20px;
            padding:50px 20px;
            background: #FFFFFF;
            color:#000000;
            border-radius: 20px;
            .slideouter{  
                display: flex;
                justify-content: center;
                .slideinner{
                    width:100%;
                    padding:20px 0;
                    
                    .slidecontent{ 
                        h3{
                            font-size: 35px;
                        }
                        p{
                            font-size: 20px;
                        }
                        .btnprimary{                            
                            box-shadow:0 5px 15px -2px #FF4C00;
                        }
                        .d-flex{
                            img{
                                width:auto;
                                height:120px;
                            }
                            h5{
                                width:80%;
                                font-size: 19px;
                            }
                        }
                    }

                }
                
            }
            
        }
    }
}

@media (max-width:560px){
    .case-study-section{
        padding: 0 15px 50px;
        .container{
            padding:50px 20px 20px; 
            .head-philosophy{
                h5{
                    font-size: 22px;
                }
                p{
                    font-size:16px;
                }
            }
            .slider-philosophy{
                margin-top:10px;
                padding:30px 0px;
                .slideouter{  
                    margin:0 12px;
                    .slideinner{
                        width:100%;
                        padding:20px 15px!important;
                        .slidetitles{     
                            padding-bottom: 20px;
                            
                        }
                        .slidecontent{ 
                            h3{
                                font-size: 26px;
                                padding: 10px 0;
                            }
                            h6{
                                font-size: 20px;
                                padding-bottom: 10px;
                            }
                            p{
                                font-size: 16px;
                            }
                            .slidefoot{
                                h5{
                                    font-size: 18px;
                                }
                            }
                        }
                    }                    
                }                
            }
        }
    }
}