.philosophy-section{
    padding-bottom:100px;
    .container{
        background: #FF4C00;
        padding:100px 40px 40px; 
        color:#fff;
        box-shadow:0 35px 60px -20px #FF4C00;
        border-radius: 30px;
        .head-philosophy{
            text-align: center;
            h5{
                font-size: 28px;
            }
            p{
                font-size:19px;
            }
        }
        .slider-philosophy{
            margin-top:50px;
            padding:50px 20px;
            background: #FFFFFF;
            color:#000000;
            border-radius: 20px;
            .slideouter{  
                display: flex;
                justify-content: center;
                .slideinner{
                    width:65%;
                    .slidetitles{     
                        text-align: center;
                        padding-bottom: 25px;
                        h3{
                            font-size: 40px;
                        }
                        h6{
                            font-size: 26px;
                        }
                        p{
                            font-size: 18px;
                        }
                    }
                    .slidecontent{ 
                        .d-flex{
                            padding-bottom: 20px;
                            align-items: center;
                            svg{
                                padding-right: 10px;

                            }
                            h5{
                                width:80%;
                                font-size: 19px;
                            }
                        }
                        .slidefoot{
                            h5{
                                font-size: 22px;
                            }
                        }
                    }

                }
                
            }
            
        }
    }
}