footer{
    color:#000;
    .container{        
        padding:80px 0;
        border-top:2px solid #ff4c00;        
    }
    .logo{    
        #whitelogo{
            max-width:150px;
        }
    }
    ul{
        list-style: none;
        padding:0;
        li{
            padding-bottom: 5px;
            a{
                color:#000;
                text-decoration: none;
                cursor:pointer;
            }
        }
    }

    .footer-social{
        .d-flex{
            padding-bottom: 20px;
            justify-content: end;
        }
        a{
            width:50px;
            height:50px;
            background-color:#ff4c0040 ;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;

            svg{
                fill:#ff4c00;
            }

            &:hover{
                background-color: #ff4c00;
                svg{
                    fill:#fff;
                }
            }
        }

        span{
            font-size: 10px;
            font-weight: 700;
            float: right;
        }

    }
}

@media (max-width:560px) {
    footer{
        .container{
            padding:50px 20px 25px;
            .logo{
                padding-bottom: 25px;
            }
            .d-flex{
                padding-bottom: 30px;
            }
        }
    }
}