.Additional-Insight-section{

    .container{
        margin-top:50px;
        padding:100px 0;
        text-align: center;
        border-top:1px solid #ff4c00;
        border-bottom:1px solid #ff4c00;
        h1{
            padding-bottom: 20px;
        }
        h4{
            font-size: 28px;
            padding-bottom: 20px;
        }
        p{
            font-size: 20px;
            padding-bottom: 20px;
        }
        .d-flex{
            h3{
                font-size: 36px;
            }
        }
    }
}

@media (max-width:560px) {
    .Additional-Insight-section{
        .container{
            margin-top:50px;
            padding:50px 15px;
            h1{
                padding-bottom: 10px;
            }
            h4{
                font-size: 22px;
                padding-bottom: 10px;
            }
            p{
                font-size: 16px;
            }

            .d-flex{
                display: inline!important;
                h3{
                    font-size: 28px;
                    padding-bottom: 15px;
                }
            }
        }
    }
}