.blogbanner-section{
    background:url('../../../Assets/img/blogsbg.png');
    background-size: cover!important;
    background-position: bottom center;
    height:700px;
    display: flex;
    // justify-content: center;
    align-items: center;
    .content-hero{
        text-align: center;
        color:#fff;
        h1{
            font-size:70px;
            font-weight: 700;
        }
        p{
            font-size: 16px;
        }
    }
}

// tablet
@media (max-width:992px){
    .blogbanner-section{
        height:500px;
        .content-hero{
            h1{
                font-size: 40px;
            }
            p{
                font-size: 14px;
                br{
                    display: none;
                }
            }
        }
    }
}

// Mobile
@media (max-width:560px){
    .blogbanner-section{
        height:550px;
        .content-hero{
            padding: 0 10px;
            h1{
                font-size: 33px;
            }
            p{
                font-size: 14px;
                br{
                    display: none;
                }
            }
        }
    }
}