.hero-section{
    background:url('../../../Assets/img/blogsbg.png');
    background-size: cover!important;
    background-position: center center;
    height:700px;
    display: flex;
    // justify-content: center;
    align-items: end;
    padding-bottom: 90px;
    .content-hero{
        text-align: left;
        color:#fff;
        h1{
            font-size:60px;
            font-weight: 700;
        }
    }
}

// tablet
@media (max-width:992px){
    .hero-section{
        height:500px;
        .content-hero{
            h1{
                font-size: 40px;
            }
            p{
                font-size: 14px;
                br{
                    display: none;
                }
            }
        }
    }
}

// Mobile
@media (max-width:560px){
    .hero-section{
        height:550px;
        .content-hero{
            padding: 0 10px;
            h1{
                font-size: 33px;
            }
            p{
                font-size: 14px;
                br{
                    display: none;
                }
            }
        }
    }
}