.blogpreviewsection{
    padding:40px 0;
    overflow: hidden;
    position: relative;
    svg{
        fill:#ff4c00;
    }
    .blog-box{   
        padding-bottom: 40px; 
        position: relative;
        overflow: hidden;
        .imgcover{  
            height: 400px;
            width:100%;
            overflow: hidden;
            border-radius: 25px;
            img{
                width:100%;
                height:100%;
                object-fit: cover;
                scale:1;
                transition: 0.8s linear;
            }
        } 
        .socials{
            background: #ff4c00;
            border-radius: 100px;
            height:60px;
            width:60px;
            display: flex;
            align-items: center;
            justify-content: center; 
            position: absolute;
            right:7%;
            top:3%;  
            cursor: pointer;         
            .s-c{
                scale:0.8;
            }
            .s-hidden{
                background: #ff4d00d1;
                padding:10px;
                height:60px;
                width: 0px;
                border-radius: 30px 0 0px 30px;
                position: absolute;
                z-index: 0;
                right:50%;
                display: flex;
                align-items: center;
                opacity: 0;
                transition: 0.2s linear;
                .d-flex{
                    align-items: center;
                    a{
                        color:#fff;
                    }
                }
                svg{
                    fill:#fff;
                }
            }
            &:hover{
                .s-hidden{
                    width:160px;
                    opacity: 1;
                    transition: 0.7s linear;
                }
            }
        }

        h2{
            font-size: 22px;
            font-weight: 600;
            padding:20px 0 5px;
            width:85%;
        }
        p{
            font-size: 16px;
            opacity: 0.9;
            width:90%;
        }
        &:hover{
            img{
                scale:1.1;
                transition:0.6s ease;
            }
        }
    }
    .bgellipse{
        width:55%;
        bottom:5%;
        right:0;
        position: absolute;
    }
}

@media (max-width:1200px){
.blogpreviewsection{
    padding:50px 10px;
    .blog-box{   
        .imgcover{  
            height: 350px;
        }   
    }
}

}
@media (max-width:992px){
    .blogpreviewsection{
        .blog-box{   
            padding-bottom: 20px; 
            .imgcover{  
                height: 260px;
            }     
            h2{
                padding:15px 0 5px;
                width:95%;
            }
        }
        svg{
            scale:0.6!important;
        }
    }
}

@media (max-width:768px){
    .blogpreviewsection{
        .blog-box{   
            padding-bottom: 20px; 
            .imgcover{  
                height: 260px;
            }     
            h2{
                padding:15px 0 5px;
                width:95%;
            }
        }
        .arrow{
            svg{
                display: none!important;
            }
        }
    }
}


@media (max-width:560px){
    .blogpreviewsection{
        padding:40px 10px;
        .blog-box{   
            padding-bottom: 20px; 
            .imgcover{  
                height: 260px;
            }     
            h2{
                padding:15px 0 5px;
            }
        }
        .bgellipse{
            display: none;
        }
    }
}

