.whoweare-section{
    .container{        
        padding: 100px 0;
        border-top:1px solid #ff4c00;    
    
        img{
            width:100%;
        }
        .built-content{
            position: relative;
            h1{
                font-size:75px;
                font-weight: 700;
                padding-bottom: 20px;
            }
            p{
                font-size: 20px;
                color:#151515;
            }
        }
    }
}

 

@media (max-width:950px){

    .whoweare-section{
        .container{
            padding:75px 0px;
            h1{
                font-size:44px;
            }
            img{
                width:100%;
                padding-bottom: 20px;
            }
            
            p{
                font-size: 15px;
                color:#151515;
            }

        }
    
    }
    
}

// Mobile
@media (max-width:540px){
    .whoweare-section{
        .container{
            padding:40px 10px;
            h1{
                font-size: 35px;
            }
        }
    }
}