.CTA-section{
    padding:50px 0 80px;
    text-align: center;
    h1{
        font-size: 70px;
        font-weight: 700;
        padding-bottom: 15px;
    }

    p{
        font-size: 20px;
        font-weight: 600;
        color:#4B4B4B;
    }

    .btn-wrapper{
        padding:25px 0;
        button{
            padding:auto 20px;
            font-weight:bold;
        }
    }


}

@media (max-width:560px) {
    .CTA-section{
        padding:40px 10px;
        p{
            font-size: 15px;
            br{
                display: none;
            }
        }
        .btn-wrapper{
            padding:10px 0;
        }
    }
}