.intro-Shop{
    padding:100px 0 20px;
    position: relative;
    h5{
        font-size: 32px;
    }
    img{
        width:80%;
        position: absolute;
        top:22%;
        right:-20%;
        z-index: -1;
    }
}
@media (max-width:560px) {
    .intro-Shop{
        padding:70px 0 0px;
        h1{
            br{
                display: none;
            }
        }
        h5{
            font-size: 22px;
        }
        img{
            width:130%;
            position: absolute;
            top:20%;
            right:-30%;
            z-index: -1;
        }
    }
}
