.CTA-Franchise-section{
    position: relative;
    .container{
        padding:100px 0;
        text-align: center;       
        img{
            position: absolute;
            width:65%;
            z-index:-1;
            left:0;
            bottom:-10%;
        }

        .btnsecondary{
            border:2px solid #ff4c00;
            color:#ff4c00!important;
        }

    }
}

@media (max-width:560px){
    .CTA-Franchise-section{
        .container{
            padding:100px 15px;    
            img{
                width:100%;
                bottom:0%;
            }

        }
    }

}