.built-section{
    padding: 100px 0;
    position: relative;
    
    overflow: hidden;
    h1{
        font-size:75px;
        font-weight: 700;
        padding-bottom: 20px;
    }
    img{
        width:95%;
    }
    .built-content{
        position: relative;
        .blob-outer-wrap{
            position: absolute;            
            height:100%;
            width:100%;
            z-index:0;            
            inset:0;
            margin:auto;
            filter:blur(100px);
        }
    
        .blob-inner-wrap{
            border-radius: 50%;
            position:absolute;
            top:-40%;
            right:-25%;
            margin:auto;
            width:80vw;
            height:40vh;
            min-width:400px;
            overflow: hidden;
            background-color: #000;
            transform: scale(0.3) rotate(40deg);
        }
    
        .blob{
            position: absolute;
            width:100vw;
            height:100vh;
            inset:0;
            margin:auto;
            background: #ff8b5a;
            animation: spinblob 9s linear infinite;
        }
        @keyframes spinblob {
            0%{
                transform: rotate(0deg) scale(2);

            }

            100%{
                transform: rotate(1turn) scale(2);
            }
        }
    }

    p{
        font-size: 19px;
        color:#151515;
    }

}

 

@media (max-width:950px){

    .built-section{
        padding:75px 0px;
        h1{
            font-size:44px;
        }
        img{
            width:100%;
            padding-bottom: 20px;
        }       

        
    p{
        font-size: 15px;
        color:#151515;
    }
    
    }
    
}

// Mobile
@media (max-width:540px){
    .built-section{
        padding:40px 10px;
        h1{
            font-size: 35px;
        }
    }
}