.MotiveSection{
    position: relative;
    padding:50px 0 100px;
    .title{
        h1{
            font-size: 70px;
            font-weight: 700;
            color:#000;
        }
        h4{
            font-size: 30px;
            font-weight: 600;
            color:#000;
            padding-bottom:15px;
        }  
        p{
            font-size: 19px;
        }      
    }

    .iconbox-wrapper{
        .icon-box{
            padding:15px;
            svg{
                scale:1;
            }
            span{
                display: block;
                font-size: 25px;
                font-weight: 600;
                color:#000;
            }
        }
        h4{
            font-size: 29px;
            font-weight: 600;
            color:#444;
        }
    }

    .cnc-ellipse{
        position: absolute;
        right:0;
        bottom:12%;
        z-index: 0;
        width:60%;
    }  

}

