.brandsection{
    padding:100px 0 50px;
    text-align: center;
    position: relative;
    h1{
        font-size: 65px;
        font-weight: 700;
        color:#000;
        padding-bottom: 20px;
    }
    h3{
        font-size: 35px;
        font-weight: 500;
    }

    .blob-outer-wrap{
        position: absolute;            
        height:100%;
        width:100%;
        z-index:0;            
        inset:0;
        margin:auto;
        filter:blur(130px);
    }

    .blob-inner-wrap{
        border-radius: 50%;
        position:absolute;
        top:28%;
        right:-10%;
        margin:auto;
        width:80vw;
        height:40vh;
        min-width:500px;
        overflow: hidden;
        background-color: #000;
        transform: scale(0.3) rotate(40deg);
    }

    .blob{
        position: absolute;
        width:100vw;
        height:100vh;
        inset:0;
        margin:auto;
        background: #ff8b5a;
        animation: spinblob2 9s linear infinite;
    }
    @keyframes spinblob2 {
        0%{
            transform: rotate(0deg) scale(2);

        }

        100%{
            transform: rotate(1turn) scale(2);
        }
    }

    .brands{
        padding:45px 0;
        gap:80px;
        img{
            width:140px;
            filter: grayscale(0);
            transition: 0.7s ease-out;
            &:hover{
                filter: grayscale(1);
                transition: 0.5s ease;
            }
        }
    }
    p{
        font-size: 17px;
        color:#1f1f1f;
    }

    .cont2{
        padding:100px 0 0;
        .row{                
            align-items: center;
            .cont-ct{
                text-align: left;
                border-right:2px solid #ff4d00;
                padding-top:15px;
                padding-left:25px;
                p{
                    font-size: 14px;
                    font-weight: 500;
                    padding: 0;
                    span{
                        color:#ff4d00;
                    }
                }
            }
            .cont-ct:last-child{
                
                border-right:none;
            }
        }
        .d-flex{
            align-items: center;
            text-align:left;
            margin-top:25px;
            svg{
                transform: scale(0.6);
            }
            h6{
                font-size: 20px;
                color:#ff4d00;
                margin: 0;
            }
        }
    }
}


@media (max-width:992px){
    .brandsection{
        padding:50px 15px;
        h1{
            font-size: 40px;
            br{
                display: none;
            }
        }
        h3{
            font-size: 20px;
            br{
                display: none;
            }
        }

        .brands{
            display: grid!important;
            grid-template-columns: auto auto;
            img{
                width:100px;
            }
        }
    }
}


@media (max-width:992px){
    .brandsection{
        .cont2{
            padding:50px 0 0;
            .cont-ct{
                border-bottom: 2px solid #ff4d00;
                border:none!important;
                p{
                    font-size: 12px!important;
                }
            }
                
            .d-flex{
                align-items: center;
                text-align:left;
                margin-top:20px;
                svg{
                    transform: scale(0.8);
                }
                h6{
                    font-size: 16px;
                    color:#ff4d00;
                }
            }
        }
    }
}