.challengeSection{
    position:relative;
    overflow: hidden;
    .container{
        padding:100px 0;
        h4{
            font-size: 30px;
            font-weight: 600;
        }
        .svg-pointers{
            padding:40px 0;
            .d-flex{
                padding-bottom: 20px;
                align-items: center;
                svg{
                    padding-right: 15px;
                }
                h5{
                    width:75%;
                    font-size: 21px;
                }
            }
        }
    }
    .cs-ellipse{
        position: absolute;
        bottom:-5%;
        right:-5%;
        width:60%;
    }
}

@media (max-width:560px){
    .challengeSection{
        .container{
            padding:50px 15px;
            h4{
                font-size: 20px;
            }
            .svg-pointers{
                padding:20px 0;
                .d-flex{
                    padding-bottom: 10px;
                    svg{
                        padding-right:20px;
                    }
                    h5{
                        width:80%;
                        font-size: 19px;
                    }
                }
            }
        }
        .cs-ellipse{
            position: absolute;
            bottom:15%;
            right:-5%;
            width:100%;
        }
    }   
}